google-api-python-client
google-auth-oauthlib
google-auth-httplib2
youtube-transcript-api==0.6.2
feedparser
requests
beautifulsoup4
pytube==15.0.0
google-generativeai
yt-dlp
# 以下為語音轉文字的函式庫，安裝時間較長
# pip install git+https://github.com/openai/whisper.git
# pip install ffmpeg-python
